# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Build tools
.target/
target/
build/
.gradle/

# Others
*.swp
*.swo
Thumbs.db
